@using StajProje1.Models.Entity
@model List<MUSTERI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Index", "Musteri", FormMethod.Get)) { 
    <p>
        <b>Aranacak Müşteri Adı:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <td>Müşteri Id</td>
        <td>Müşteri Ad</td>
        <td>Müşteri Soyad</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
        <tr>
            <td>@musteri.MUSTERIID</td>
            <td>@musteri.MUSTERIAD</td>
            <td>@musteri.MUSTERISOYAD</td>
            <td><a href="/MUSTERI/SIL/@musteri.MUSTERIID" class="btn btn-danger">Sil</a></td>
            <td><a href="/MUSTERI/GUNCELLE/@musteri.MUSTERIID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/MUSTERI/EKLE/" class="btn btn-success">Müşteri Ekle</a>
