
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2><b>İLETİŞİM</b></h2>
<br />
<br />
<p>
    Bize ulaşmak istiyorsanız iletişim adreslerimiz:
    <br />
    <br />
    <b> Telefon: </b> 0312 440 05 02
    <br />
    <br />
    <b>EMail: </b><a href=" "> stoktakip@gmail.com</a>
</p>


